Package: com.matchstic.Extender-Installer
Name: Extender: Reloaded
Version: 0.3.5a1
Description: Re-sign applications on your device
Section: System
Depends: firmware (>= 10.0), mobilesubstrate, ldid, uikittools
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
Homepage: https://github.com/Matchstic/Extender-Installer
Depiction: http://incendo.ws/repo/depictions/com.matchstic.extender-installer.html
Icon: file:///Applications/Extender.app/AppIcon60x60@2x.png
