Package: com.yourcompany.postrm
Name: postrm
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Matt Clarke
Author: Matt Clarke
Section: System
Tag: role::hacker
