<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extender-Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Extender-Installer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C936D75A1E9F5FA900F23D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C936D7751E9F5FBD00F23D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98D466D1EA0CC900052812C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98D468F1EA0DF320052812C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9BDFC5D1E9F8F610093CA81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
